<div class="comingsoon-page">
<h2>Coming soon: World Cup dream team</h2>
<h3>You've seen the Guardian's <a href="http://www.theguardian.com/football/ng-interactive/2014/may/27/the-world-cups-top-100-footballers-of-all-time-interactive">top 100 World Cup footballers of all time</a>. If you could choose 11 players to make an all-time dream team, who would you choose? And how would they fare?</h3>
<div class="comingsoon-player-cards">
	<img class="comingsoon-player-1" src="@@assetPathimages/comingsoon/beckham.png" />
	<img class="comingsoon-player-2" src="@@assetPathimages/comingsoon/fontaine.png" />
	<img class="comingsoon-player-1" src="@@assetPathimages/comingsoon/breitner.png" />
	<img class="comingsoon-player-5" src="@@assetPathimages/comingsoon/rustu.png" />
	<img class="comingsoon-player-2" src="@@assetPathimages/comingsoon/sindelar.png" />
	<img class="comingsoon-player-3" src="@@assetPathimages/comingsoon/lineker.png" />
	<img class="comingsoon-player-4" src="@@assetPathimages/comingsoon/ronaldinho.png" />
</div>

</div>