Loggedin = <%= isLoggedIn %> - has saved team = <%= hasSavedTeam %>
<% if(username) { %>
	<nav class="logged-in">
		<div class="editPageNav clearfix">
			<img src="@@assetPathimages/dreamteam_logo.png" class="dreamteamLogo"/>
		</div>

		<div class="yourPageNav clearfix">
				<div class="backButton backToEdit">Edit your team</div>
				<img src="@@assetPathimages/dreamteam_logo.png" class="dreamteamLogo"/>
		</div>

		<div class="userPageNav clearfix">
			<% if(squadCount !== 11) { %>
				<div class="backButton backToTeam">Back to your team</div>
			<% } else{ %>
				<div class="backButton backToTeam">Back to your team</div>
			<% } %>
			<img src="@@assetPathimages/dreamteam_logo.png" class="dreamteamLogo"/>
		</div>
	</nav>
<% }else{ %>
	<nav class="logged-out">
		Login with your Guardian account to create your own team.
		<button>Create account</button>
	</nav>
<% } %>







<!-- <div class="headerIllustration"><img src="images/illustration.png" /></div> -->
