<% if(username) { %>
	<div class="logged-in">
		<div class="editPageNav">
			BIG HEADER THING
		</div>

		<div class="yourPageNav">
			<nav class="navBar">
				<div class="backButton backToEdit">Edit your team</div>
			</nav>
		</div>

		<div class="userPageNav">
			<nav class="navBar">
				<div class="backButton backToTeam">Back to your team</div>
			</nav>
		</div>
	</div>
<% }else{ %>
	<h1>Guardian Dream Team Maker</h1>
	<h2>Create your own dream team from all the world cups (not logged in<%= username %>)</h2>
	<nav class="navigation logged-out">
		<a href="/">Create your own Dream Team</a>
	</nav>
<% } %>





<!-- <div class="headerIllustration"><img src="images/illustration.png" /></div> -->
