
<% if(player1.details && player2.details) { %>

	<span class="start">Start Match</span>

	<hr>

	<div class="row" style="clear:both;">
		<div class="col-xs-12 col-sm-3">
			<h3><%= player1.details.username %></h3>
			<ol class="pitch">
		        <% _.each(player1.team, function(player) { %>
		            <li><%= player.name %></li>
		        <% }) %>
		    </ol>
		</div>
		<div class="col-xs-12 col-sm-6 match-highlights">
			<div class="row" style="clear:both;">
				<div class="col-xs-4">
					<h1 class="score">2</h1>
				</div>
				<div class="col-xs-4">
					<h2 class="time">90 <span>minutes</span></h2>
				</div>
				<div class="col-xs-4">
					<h1 class="score">1</h1>
				</div>
			</div>
			<div class="match-details">
				<% _.each(moments, function(moment) { %>
					<div class="moment">
						<span class="action-time"><%= moment.time %>"</span>
						<div class="action action-<%= moment.action.toLowerCase() %>">
							<% if(moment.title) { %>
								<span class="action-title action-<%= moment.action.toLowerCase() %>"><b class="key-event"><%= moment.title %></b></span>
							<% } %>
							<p><%= moment.description %></p>
						</div>
					</div>
		        <% }); %>

			</div>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h3><%= player2.details.username %></h3>
			<ol class="pitch">
		        <% _.each(player2.team, function(player) { %>
		            <li><%= player.name %></li>
		        <% }) %>
		    </ol>
		</div>
	</div>

<% } else { %>

	<h1>Loading!</h1>

<% } %>