<ol class="pitch">
	<div class="pitchLines">
		<div class="pitchMiddleLine"></div>
		<div class="pitchMiddleCircle"></div>
		<div class="pitchPenalty1"></div>
		<div class="pitchPenalty2"></div>
	</div>
	<% _.each(players, function(player, index) { %>
        <% if (player.uid === null) { %>
             <li class="pitch-player pitch-player-available position-<%= index %>" data-area="<%= index %>" data-position="<%= index %>" data-area="<%= index %>">
             <span class="player-icon" ></span>
                <%= positionNames[index].name %>
            </li>
        <% } else { %>
            <li data-uid="<%= player.uid %>" data-position="<%= index %>" data-area="<%= index %>" class="pitch-player pitch-player-taken position-<%= index %>">
                <span class="player-icon" title="Drop <%= player.name %>" style="background-image: url(<%= player.picture %>)"></span>
                <%= player.name.substring(player.name.lastIndexOf(" ")+1)%>
            </li>
        <% } %>

	<% }) %>
	<li class="playerOptions">
		<span class="close">&times;</span>
		<h4></h4>
		<button id="dropPlayer" data-uid="">Drop</button>
	</li>
</ol>


