<% if(player1.details && player2.details) { %>

    <div class="row" style="clear:both;">

        <button id="startMatch">Run Match</button>

        <hr>

        <% if (matchDetails) { %>

            <div class="col-xs-12">
                <div class="row" style="clear:both;">
                    <div class="col-xs-12">
                        <h1 class="score"><%= matchDetails[1].goals.length %> - <%= matchDetails[2].goals.length %></h1>
                    </div>
                    <div class="col-xs-6 home">
                        <% _.each(matchDetails[1].goals, function(player) { %>
                            <p class="scorer"><%= player.name %> <span class="time"><%= player.time %></span></p>
                        <% }) %>
                    </div>
                    <div class="col-xs-6 away">
                        <% _.each(matchDetails[2].goals, function(player) { %>
                            <p class="scorer"><%= player.name %> <span class="time"><%= player.time %></span></p>
                        <% }) %>
                    </div>

                </div>

            </div>

        <% } %>

        <div class="col-xs-12">
            <hr>
        </div>

        <div class="col-xs-6">
            <h3 style="text-align: center;"><%= player1.details.username %></h3>
            <div id="user1-pitch"></div>
        </div>
        <div class="col-xs-6">
            <h3 style="text-align: center;"><%= player2.details.username %></h3>
            <div id="user2-pitch"></div>
        </div>
    </div>

<% } else { %>

    <div class="row" style="clear:both;">
        <div class="col-xs-12">
            <h1>Players warming up!</h1>
        </div>
    </div>

<% } %>