<div class="row">

    <div class="col-xs-12 col-lg-8">
        <div class="row">
            
            <div id="matchInfo">
                <div class="col-xs-12">
                    
                    <p style="margin:0 0 15px 0;text-align:center;"><%= matchDetails.venue.stadium %>, <%= matchDetails.venue.location %></p>
                    <p style="margin:0 0 0;text-align:center;"><%= matchDetails.venue.maxAttendance %> people</p>
                    <p style="margin:15px 0;text-align:center;">Man of the match: <b><%= matchDetails.motm %></b></p>   
                </div>
            </div>
            <!-- Team 1 info -->
            <div class="teamInfos">
            <div class="col-xs-6 teamInfo1">
                <h1 class="score"><%= matchDetails[1].goals.length %></h1>
                <h1 class="teamName">
                    <a href="#user/<%= matchDetails[1].guardianID %>">
                        <%= matchDetails[1].username %> FC
                    </a>
                </h1>
                
                <div class="scorers">
                    <% _.each(matchDetails[1].goals, function(player) { %>
                        <p class="scorer"><%= player.name %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                </div>
                <div class="yellowRedCards">
                    <% _.each(matchDetails[1].yellowCard, function(player) { %>
                        <p class="scorer carded"><span class="cardColor"></span><%= player.name.substring(player.name.lastIndexOf(" ")+1) %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                    <% _.each(matchDetails[1].redCard, function(player) { %>
                        <p class="scorer carded red"><span class="cardColor"></span><%= player.name.substring(player.name.lastIndexOf(" ")+1) %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                </div>
                
            </div>


            <!-- Team 2 info -->
            <div class="col-xs-6 teamInfo2">
                <h1 class="score"><%= matchDetails[2].goals.length %></h1>
                <h1 class="teamName">
                    <a href="#user/<%= matchDetails[2].guardianID %>">
                        <%= matchDetails[2].username %> FC
                    </a>
                </h1>
                
                <div class="scorers">
                    <% _.each(matchDetails[2].goals, function(player) { %>
                        <p class="scorer"><%= player.name %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                </div>

                <div class="yellowRedCards">
                    <% _.each(matchDetails[2].yellowCard, function(player) { %>
                        <p class="scorer carded"><span class="cardColor"></span><%= player.name.substring(player.name.lastIndexOf(" ")+1) %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                    <% _.each(matchDetails[2].redCard, function(player) { %>
                        <p class="scorer carded red"><span class="cardColor"></span><%= player.name.substring(player.name.lastIndexOf(" ")+1) %> <span class="time"><%= player.time %></span></p>
                    <% }) %>
                </div>
               
            </div>
            </div>
            <div id="user1-pitch" class="col-xs-6"></div>
            <div id="user2-pitch" class="col-xs-6"></div>
            <div id="matchRecord" class="col-xs-12"></div>

        </div>

    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="c-match-stats">

            <h3 class="component__heading article__meta-heading">Match stats</h3>

            <dl class="u-cf match-stats bar-fight">
                <dt class="match-stats__caption">Possession</dt>
                    <dd class="bar-fight__bar bar-fight__bar--home" style="background-color: #eb121a; width: <%= matchDetails.stats.possessionHome %>%;"><%= matchDetails.stats.possessionHome %>%</dd>
                    <dd class="bar-fight__bar bar-fight__bar--away" style="background-color: #005ca4; width: <%= 100 - matchDetails.stats.possessionHome %>%;"><%= 100 - matchDetails.stats.possessionHome %>%</dd>
            </dl>

            <br>

            <h4 class="match-stats__caption">Goal attempts</h4>
            <dl class="match-stats goal-attempts u-cf">
                <dt class="goal-attempts__label goal-attempts__label--off-target-home"><span class="u-h"></span>Off target</dt>
                <dd class="goal-attempts__off-target goal-attempts__off-target--home" style="background-color: #eb121a;"><%= matchDetails.stats.shotsOffHome %></dd>
                <dt class="goal-attempts__label goal-attempts__label--off-target-away"><span class="u-h"></span>Off target</dt>
                <dd class="goal-attempts__off-target goal-attempts__off-target--away" style="background-color: #005ca4;"><%= matchDetails.stats.shotsOffAway %></dd>

                <dt class="goal-attempts__label goal-attempts__label--on-target-home"><span class="u-h"></span>On target</dt>
                <dd class="goal-attempts__on-target goal-attempts__on-target--home" style="background-color: #eb121a;"><%= matchDetails.stats.shotsOnHome %></dd>
                <dt class="goal-attempts__label goal-attempts__label--on-target-away"><span class="u-h"></span>On target</dt>
                <dd class="goal-attempts__on-target goal-attempts__on-target--away" style="background-color: #005ca4;"><%= matchDetails.stats.shotsOnAway %></dd>
            </dl>

            <dl class="u-cf match-stats bar-fight">
                <dt class="match-stats__caption">Corners</dt>

                    <dd class="bar-fight__bar bar-fight__bar--home" style="background-color: #eb121a; width: <%= matchDetails.stats.cornerHomePercent %>%;"><%= matchDetails.stats.cornerHome %></dd>
                    <dd class="bar-fight__bar bar-fight__bar--away" style="background-color: #005ca4; width: <%= 100 - matchDetails.stats.cornerHomePercent %>%;"><%= matchDetails.stats.cornerAway %></dd>

                <dt class="match-stats__caption">Fouls</dt>

                    <dd class="bar-fight__bar bar-fight__bar--home" style="background-color: #eb121a; width: <%= matchDetails.stats.foulsHomePercent %>%;"><%= matchDetails.stats.foulsHome %></dd>
                    <dd class="bar-fight__bar bar-fight__bar--away" style="background-color: #005ca4; width: <%= 100 - matchDetails.stats.foulsHomePercent %>%;"><%= matchDetails.stats.foulsAway %></dd>


                <dt class="match-stats__caption">Offsides</dt>

                    <dd class="bar-fight__bar bar-fight__bar--home" style="background-color: #eb121a; width: <%= matchDetails.stats.offsideHomePercent %>%;"><%= matchDetails.stats.offsideHome %></dd>
                    <dd class="bar-fight__bar bar-fight__bar--away" style="background-color: #005ca4; width: <%= 100 - matchDetails.stats.offsideHomePercent %>%;"><%= matchDetails.stats.offsideAway %></dd>

            </dl>
        </div>
    </div>

</div>
