
<% if(playerSelected.name) { %>

	<div class="flip-container" ontouchstart="this.classList.add('hover');">
		<div class="flipper">

			<div class="front">
				<h1 class="front-name"><%= playerSelected.name %></h1>
			</div>

			<div class="back">
				<div class="row">
					<div class="col-xs-4">
						<img src="http://placehold.it/350x400" class="player-image" alt="<%= playerSelected.name %>">

						<table class="table table-bordered">
						<tbody>
							<tr>
								<td colspan="2"><img src="images/flags/<%= playerSelected.country %>.png" class="flag" /><%= playerSelected.country %></td>
							</tr>
							<tr>
								<td>Apperances</td>
								<td><%= playerSelected.apps %></td>
							</tr>
							<tr>
								<td>Goals</td>
								<td><%= playerSelected.gls %></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-8 player-bio">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><%= playerSelected.name %></h4>
						<%= playerSelected.bio %>
						<hr>
						<% if (validation.status === 'fail') { %>
							<span class="selection-warning"><%= validation.message %></span>
						<% } %>
						<button type="button" class="addToSquad btn btn-primary <%= validation.status === 'fail' ?  'disabled' : '' %>">Add to squad</button>
					</div>
				</div>
			</div> <!-- .back -->
		</div> <!-- .flipper -->
	</div> <!-- .flip-container -->

<% } %>