
<form class="form-inline" role="form">
    <div class="inner">
        <div class="form-group">
            <select id="players_position" class="form-control" data-filter-name="position">
                <option value="all">Position</option>
                <% _.each(positions, function(position) { %>
                    <option value="<%= position %>"><%= position %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <select id="players_country" class="form-control" data-filter-name="countryname">
                <option value="all">Country</option>
                <% _.each(countries, function(country) { %>
                    <option value="<%= country %>"><%= country %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group" style="margin-right: 0;">
            <select id="players_era" class="form-control" data-filter-name="era">
                <option value="all">Era</option>
                <option value="1940">1940s</option>
                <option value="1950">1950s</option>
                <option value="1960">1960s</option>
                <option value="1970">1970s</option>
                <option value="1980">1980s</option>
                <option value="1990">1990s</option>
                <option value="2000">2000s</option>
            </select>
        </div>
        <p id="clearLink">No players found! Click here to browse all players.</p>
    </div>
</form>

<div class="alert alert-warning alert-dismissable selection-error" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>

<div class="viewSquad">
    <p>Go back to squad</p>
</div>

<div id="player_list" class="col-xs-12"></div>