<% isLoggedInTest = false %>
<div id="squad-pitch-inner">
    <% if(isLoggedIn) { %>
        <% if(squadCount !== null) { %>
            <div class="your-team-details">
                <% if (hasSavedTeam == 'false'){ %>
                    <div class="playMatchBtn">Select at least 1 player to view your team</div>
                <% } else if(squadCount === 11) { %>
                    <div class="playMatchBtn enoughPlayers">View your team and play a match</div>
                <% } else { %>
                    <div class="playMatchBtn">View your team <span><%= 11-squadCount %> more to start playing</span></div>
                <% } %>
            </div>
        <% } %>
        <ol class="pitch">
        	<div class="pitchLines">
        		<div class="pitchMiddleLine"></div>
        		<div class="pitchMiddleCircle"></div>
        		<div class="pitchPenalty1"></div>
        		<div class="pitchPenalty2"></div>
        	</div>
        	<% _.each(players, function(player, index) { %>
                <% if (player.uid === null) { %>

                <li class="pitch-player pitch-player-available position-<%= index %>"
                    data-area="<%= index %>"
                    data-position="<%= index %>"
                    data-area="<%= index %>"
                    data-position-name="<%= positionNames[index].name %>">
                     <span class="player-icon" > <img src="@@assetPathimages/plusIcon.png" /> </span>
                        <%= positionNames[index].name %>
                    </li>
                <% } else { %>
                    <li data-uid="<%= player.uid %>"
                        data-position="<%= index %>"
                        data-area="<%= index %>"
                        class="pitch-player pitch-player-taken position-<%= index %>"
                        <% if (typeof positionNames !== 'undefined') { %>data-position-name="<%= positionNames[index].name %>" <% } %>
                    >

                        <span class="player-icon" title="<%= player.name %>" style="background-image: url(<%= player.picture %>)"></span>
                        <%= player.name.substring(player.name.lastIndexOf(" ")+1) %>
                    </li>
                <% } %>

        	<% }) %>
        	<li class="playerOptions">
        		<span class="close">&times;</span>
        		<h4></h4>
        		<button id="dropPlayer" data-uid="">Drop</button>
        	</li>
        
        </ol>

        <table class="table table-players">
           <tbody>
            <% _.each(players, function(player, index) { %>
                <% if (!_.isEmpty(player.name)) { %>
                    <tr>
                        <td><%= player.name %></td>
                    </tr>
                <% } %>
            <% }) %>
            </tbody>
        </table>


    <h3><span id="clearSelection">Remove all players</span></h3>


    <% }else{ %>
        <div class="pitchSignup">
            <p>You have to <a href="#">login</a> with you Guardian-account to create your own team</p>
        </div>
        <div class="otherTeams">
            <h4>Or take a look at these featured teams</h4>
            <div class="col-xs-12 opponentTable">
                <h3>Featured teams</h3>
                <table class="table">
                    <!--  -->
                </table>
            </div>
        </div>
    <% } %>
    
</div>

