
<button id="goToMatch" class="<%= squadCount === 11 ? 'enabled' : 'disabled' %>"><%= squadCount === 11 ? 'Go play a match!' : 11-squadCount+ ' more players to start playing' %></button>



<ol class="pitch">
	<div class="pitchLines">
		<div class="pitchMiddleLine"></div>
		<div class="pitchMiddleCircle"></div>
		<div class="pitchPenalty1"></div>
		<div class="pitchPenalty2"></div>
	</div>
	<% _.each(players, function(player, index) { %>
        <% if (player.uid === null) { %>
             <li class="pitch-player pitch-player-available position-<%= index %>" data-area="<%= index %>" data-position="<%= index %>" data-area="<%= index %>">
                <span class="player-icon" style=""></span>
                <%= index %>
            </li>
        <% } else { %>
            <li data-uid="<%= player.uid %>" data-position="<%= index %>" data-area="<%= index %>" class="pitch-player pitch-player-taken position-<%= index %>">
                <span class="player-icon" style="background-image:url('https://s3.amazonaws.com/gdn-cdn/next-gen/football/ng-interactive/dream-team-test/images/players/pele.jpg')" title="Drop <%= player.name %>"></span>
                <%= player.name %>
            </li>
        <% } %>

	<% }) %>
	<li class="playerOptions">
		<span class="close">&times;</span>
		<h4></h4>
		<button id="replacePlayer" data-uid="">Replace</button>
		<button id="dropPlayer" data-uid="">Drop</button>
	</li>
</ol>
<% if(squadCount > 0) { %>
	<button id="clearSelection">Clear selection</button>
<% } %>
<p>Pre-select</p>

<p><a href="#" class="selectTeamPop" data-team="P008:GK,P015:LB,P027:CB,P026:CB2,P048:RB,P070:MC,P069:MC2,P058:ML,P092:MR,P100:ST,P110:ST2">Brazilian flair</a></p>

<p><a href="#" class="selectTeamPop" data-team="P026:CB,P100:ST,P101:ST2,P069:MC2,P092:MR,P013:LB,P006:GK,P058:ML,P067:MC,P034:CB2,P047:RB">Italian discipline</a></p>
