
<button id="goToMatch" class="<%= !userDetails.username ?  'disabled' : '' %>">Go to match</button>

<% if(0 < players.length && userDetails.username) { %>
	<button id="clearSelection">Clear selection</button>
<% } %>

<ol class="pitch">
	<% _.each(players, function(player) { %>
	    <li data-uid="<%= player.uid %>" class="pitch_player position-<%= player.position.toLowerCase() %>">
            <span class="player-icon" style="background-image:url(/images/players/placeholder_player.png)" title="Drop <%= player.name.substring(player.name.lastIndexOf(" ")+1) %>"></span>
	    	<!-- <span style="background-image:url(/images/players/player<%= player.uid %>.jpg)" title="Drop <%= player.name.substring(player.name.lastIndexOf(" ")+1) %>"></span> -->
	    	<%= player.name.substring(player.name.lastIndexOf(" ")+1) %>
	    </li>
	<% }) %>
	<li class="playerOptions">
		<span class="close">&times;</span>
		<h4></h4>
		<button id="replacePlayer" data-uid="">Replace</button>
		<button id="dropPlayer" data-uid="">Drop</button>
	</li>
</ol>