

 <div class="pitchSignup">
            You have to log in with your Guardian account to create your own team
        </div>
        <div class="otherTeams">
           <div class="col-xs-12 opponentTable">
        <h3>Or take a look at these featured teams</h3>
        <table class="table">
            <% _.each(specialUsers, function(user) { %>
                <tr>
                    <td><%= user.name  %> FC</td>
                    <td class="viewTeamCell viewTeam" data-guardian-id="<%= user.guardianid %>">
                        View this team
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
        </div>