
<% if(name) { %>
<div class="player-bio">
    <span class="close">&times;</span>
    <h2><%= name %></h2>
    <%= bio %>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Nation</td>
                    <td><%= countryname %></td>
                </tr>
                <tr>
                    <td>Apperances</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Goals</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

<% } %>
