<div class="player-bio">
    <span class="close">&times;</span>
    <div class="player-bio-col1">
        <img class="player-bio-picture" src="<%= picture %>" alt="Photo of <%= name %>" />

        <button class="player-bio-add">ADD</button>
    </div>
    <div class="player-bio-col2">
        <h2 class="player-bio-name"><%= name %></h2>
        <p class="player-bio-metainfo">
            <%= position %> - <%= countryname %>
        </p>
        
        <p class="player-bio-copy"><%= bio %></p>
    </div>

    <p class="player-bio-footer">
        Or select another player:
    </p>
</div>
