
<% if(userDetails.username) { %>
	<h3><%= userDetails.teamName %></h3>
	<button id="goToMatch">Go to match</button>
<% } %>

<ol class="pitch">
	<% _.each(players, function(player) { %>
	    <li class="pitch_player position-<%= player.position.toLowerCase() %>">
	    	<img src="http://placehold.it/50x50" alt="">
	    	<%= player.name.substring(player.name.lastIndexOf(" ")+1) %>
	    </li>
	<% }) %>
</ol>

<% if(userDetails.username) { %>
	<% if(0 < players.length) { %>
		<button id="clearSelection">Clear selection</button>
	<% } %>
<% } %>