<div id="dreamteam">
    <h2>Form your dream team</h2>

    <button>Challenge your friends</button>

    <div id="playfield">
        {{ playfield }}
    </div>

    <button>Sign in to save your dreamteam</button>


    <div id="playerSelection">

        <form id="playerFilters">
            <p>
                Show:
                <select>
                    <option>All positions</option>
                </select>
                <select>
                    <option>From all countries</option>
                </select>
                <select>
                    <option>From 1960 - 1990</option>
                </select>
            </p>
        </div>

        <div id="playerGallery">
            <div class="player">{{ photo }}</div>
        </div>
    </div>


</div>