<div class="row">
	<div class="col-xs-12">
        <div class="introduction" style="background: #FCC;">
            <p>Introduction copy goes here. Explain what the interactive is and how it works.</p>
            <p>Introduction copy goes here. Explain what the interactive is and how it works.</p>
        </div>

    	<h1><%= details.username %></h1>
	</div>
</div>

<div id="users-team-container">
    <div id="users-team"></div>
    <% if (details.username === currentUser.username) { %>
        <button id="goEdit">Edit your team</button>
    <% } %>
</div>

<div id="users-find-container">
    <% if (details.username === currentUser.username) { %>
        <div id="users-find"></div>
    <% } else { %>
        <button class="playAgainst" data-guardian-id="<%= details.guardianID %>">Play against this team</button>
        <hr>
        <p>Game history</p>
    <% } %>
</div>
