<div id="users-find-container" class="col-xs-12 col-md-6">
    


    <% if (canPlay) { %>
        <div class="playAgainst" data-guardian-id="<%= details.guardianID %>">
            Play against this team
        </div>
    <% } else{%>

    <div id="users-find"></div> 
    <% } %>
    <div class="users-share-container">
        <h3>Or share your team and invite others</h3>
        <a class="share-link share-twitter" href="<%= twitter_link %>">
            Twitter
        </a>
        <a class="share-link share-facebook" href="<%= facebook_link %>">
            Facebook
        </a>
    </div>

</div>

<div id="users-team-container" class="col-xs-12 col-md-6">


    <% if (canPlay) { %>
        <h3>Hamburger FC</h3>
    <% } %>
    <div id="users-team" class="col-xs-12 col-md-9"></div>

    <div id="usersRecord" class="col-xs-12 col-md-3"></div>
    <div class="clearfix"></div>
    <h3>Playerslist</h3>
    <div id="user-teamrating">USER TEAM STAR RATING <%= details.teamStarRating %>/5</div>
    <div id="squad-list"></div>
</div>

