<div class="row clearfix">
    <h2>See how your team measures up</h2>
    <% if(squadCount < 11){ %>
    <h3 class="alertMessage">Your team is not complete team yet. So you can view other teams, but in order to play against them, you have to finish your team first</h3>
    <% } %>
    
    <div class="col-xs-12 opponentTable">
        <h3>Play against featured teams</h3>
        <table class="table">
            <% _.each(specialUsers, function(user) { %>
                <tr>
                    <td><%= user.name  %></td>
                    <td class="viewTeamCell viewTeam" data-guardian-id="<%= user.guardianid %>">
                        Compare or compete
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class="playAgainstFriends col-xs-12">

        <h4>Play against your friends</h4>
        <p>Share this page with your friends or colleagues, and challenge them to a match</p>
        <a href="<%= twitter_link %>" target="_blank">
            <img class="shareIcon" src="@@assetPathimages/twitter.svg" /> 
        </a>
        <a href="<%= facebook_link %>" target="_blank">
            <img class="shareIcon" src="@@assetPathimages/facebook.svg" />
        </a>
        <a href="<%= email_link %>" target="_blank"> 
            <img class="shareIcon" src="@@assetPathimages/mail.svg" />
        </a>

    </div>
    <div class="col-xs-12 opponentTable recentlyViewed">
        <h3>Recently viewed</h3>
        <table class="table">
            <% _.each(recentUsers, function(user) { %>
                <tr>
                    <td><%= user.un  %></td>
                    <td class="viewTeamCell viewTeam" data-guardian-id="<%= user.id %>">
                        Compare or compete
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class="col-xs-12 opponentTable recentMatches">
        <h3>Recent matches</h3>
        <% if (latestMatches === undefined) { %>
        <div class="view-match-history">View match results</div>
        <% } %>
        <table class="table">
            <% _.each(latestMatches, function(match) { %>
                <tr>
                    <td>
                        <a href="#/user/<%= match.user1ID %>">
                            <%= match.user1Name %>
                        </a>
                        <%= match.user1Goals %> - <%= match.user2Goals %>
                        <a href="#/user/<%= match.user2ID %>">
                            <%= match.user2Name %>
                        </a>                   
                    
                    </td>
                </tr>
                <tr>
                    <td class="viewTeamCell viewResult">
                        <a href="#result/<%= match.id %>">See match</a>
                    </td>
                </tr>
                <tr class="tableMargin"></tr>
            <% }) %>
        </table>
    </div>
</div>
