
<div class="row clearfix">
    <h3>Play against someone else's team</h3>
    <div class="col-xs-12 col-lg-6 opponentTable recentlyViewed">
        <h4>Recently Viewed</h4>
        <table class="table">
            <% _.each(recentUsers, function(user) { %>
                <tr>

                    <td><%= user.un  %></td>
                    <td class="viewTeamCell viewTeam" data-guardian-id="<%= user.id %>">
                        Team &raquo;
                    </td>

                </tr>
            <% }) %>
        </table>
    </div>
    <div class="col-xs-12 col-lg-6 opponentTable">
        <h4>Guardian Opponents</h4>
        <table class="table">
            <% _.each(specialUsers, function(user) { %>
                <tr>

                    <td><%= user.name  %></td>
                    <td class="viewTeamCell viewTeam" data-guardian-id="<%= user.guardianid %>">
                        Team &raquo;
                    </td>

                </tr>
            <% }) %>
        </table>
    </div>
</div>
