/**
 * Project: World Cup 2014 dream team
 * File:    Main SCSS
 */

.noscroll {
    overflow: hidden;
}
/* Ovewrite Bootstrap for NGW */

figure.interactive .container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 46.25em) {
    figure.interactive .container {
        width: auto;
    }
}
@media (min-width: 61.25em) {
    figure.interactive .container {
        width: auto;
    }
}
@media (min-width: 81.25em) {
    figure.interactive .container {
        width: auto;
    }
}
figure.interactive {
    $buttonColor: #005689;

    td, th {
        padding: 5px 6px;
    }

    button {
        background: $buttonColor;
        border: 0 none;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-size: 1.4rem;
        margin: 0 20px 0 0;
        min-width: 140px;
        outline: none;
        padding: 11px 8px;
        text-align: center;
    }
    button.disabled {
        background: #dfdfdf;
    }

    input {
        border: 1px solid #dcdcdc;
        box-shadow: none;
        box-sizing: border-box;
        color: #545454;
        display: inline-block;
        font-family: "AgateSans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.4;
        outline: none;
        padding: 8px 8px 7px;
        border-radius: 0;
        width: 100%;
        -webkit-appearance: none;
    }
    .visual-prompt {
        position: fixed;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        background: #fff;
        z-index: 9999;
    }
    .visual-prompt .inner {
        text-align: center;
        padding: 40px;
        font-size: 17px;
    }
    .visual-prompt .loading {
        width: 10px;
        margin-right: 7px;
    }
    #squad-filters {
        position: relative;
        padding-top: 75px;
    }
    #squad-pitch {
        z-index: 5;
        margin-top: 10px;
    }
    .table-players {
        max-width: 300px;
        margin: 20px auto;
        display: none;
    }
    #users-team-container {
        margin-bottom: 20px;
        display: none;
    }
    /**
	 * Player selection
	 */
    @media (min-width: 56.25em) {
        #squad-filters {
            width: 100%;
            margin-right: -400px;
            padding-right: 429px;
        }
        #squad-pitch {
            width: 400px;
            float: right;
        }

        #users-team-container {
            width: 300px;
            float: left;
            display: block;
        }
        #users-find-container {
            width: 100%;
            margin-left: -300px;
            padding-left: 340px;
            float: left;
        }
    }
    #squad-pitch button#goToMatch,
    #squad-pitch button#clearSelection {
        float: left;
        width: 47%;
        min-width: 0;
        margin: 0;
        margin-right: 6%;
        margin-bottom: 20px;
    }
    #squad-pitch button#clearSelection {
        margin-right: 0;
    }
    #squad-filters form {
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        z-index: 3;
    }
    #squad-filters form.squad-filters-fixed {
        position: fixed;
        left: 0;
        right: 0;
    }
    #squad-filters form .inner {
        padding: 10px 0;
        float: left;
        background: #fff;
        width: 100%;
    }
    #squad-filters form.squad-filters-fixed .inner {
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    @media (min-width: 56.25em) {
        #squad-filters form {
            padding-right: 415px;
        }
    }
    #squad-filters form .form-group select {
        background: transparent;
        padding: 11px 8px;
        font-size: 13px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        -webkit-appearance: none;
        margin-right: 3%;
        width: 100%;
    }
    #squad-filters form .form-group {
        float: left;
        width: 31.3%;
        background: url(../images/down_arrow.png) no-repeat right #f4f4ee;
        margin-right: 3%;
    }
    #squad-filters p#clearLink {
        display: none;
        margin: 20px auto 10px;
        clear: both;
        text-align: center;
        color: $buttonColor;
        float: left;
        width: 100%;
        cursor: pointer;
    }
    #squad-filters.showClearFilterButton p#clearLink {
        display: block;
    }
    .viewSquad {
        display: none;
        position: fixed;
        bottom: 0;
        right: 20px;
        background: #fff;
        z-index: 5;
        padding: 20px;
        max-width: 110px;
        text-align: center;
        border: 1px solid #efefef;
        border-radius: 7px 7px 0 0;
    }
    .viewSquad.viewSquad-show {
        display: block;
    }
    .viewSquad p {
        color: $buttonColor;
        margin: 0;
    }
    .player_profile {
        text-align: center;
        margin-bottom: 25px;
        cursor: pointer;
        transition: transform 0.2s ease-out;
        overflow: hiden;
    }
    .player_profile .inner .innercard {
        position: relative;
        padding: 3px;
        background: #fff;
        border: 1px solid #efefef;
    }
    .player-image {
        width: 100%;
        min-height: 215px;
        background-size: cover;
        background-position: top center;
        border: 1px solid #aeaeae;
    }
    .player-name {
        position: absolute;
        bottom: 0px;
        margin: 0;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 4px;
    }
    .player-name p {
        font-size: 13px;
        font-family: helvetica;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
        padding: 4px 5px;
    }
    .player-country {
        text-align: right;
        color: #fff;
        position: absolute;
        transform: rotate(-90deg);
        left: -31px;
        margin: 0;
        line-height: 2.3;
        top: 64px;
        font-size: 13px;
        height: 30px;
        width: 100px;
        padding: 0 9px;
        overflow: hidden;
        font-family: helvetica;
        background: -webkit-linear-gradient(left, rgba(0, 85, 164, 0) 0%, rgba(0, 85, 164, 0.6) 65%, rgba(0, 85, 164, 0.8) 100%);
    }
    .player_profile .flag {
        position: absolute;
        width: 30px;
        height: 25px;
        background-size: cover;
        top: 4px;
        left: 4px;
        border-bottom: 4px solid #000;
    }
    .player-position {
        position: absolute;
        right: 3px;
        padding: 3px 3px 0 0;
        font-size: 13px;
        background: #fff;
        top: 3px;
        width: 30px;
        height: 30px;
        text-align: right;
    }
    .player_profile .removePlayer {
        display: none;
    }
    .player_profile.selected .removePlayer {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 90px;
        font-size: 22px;
        font-weight: bold;
        z-index: 2;
        color: #fff;
        background: rgba(0,0,0,0.5);
    }
    .player_profile.isDragging {
        transform: scale(0.8);
        opacity: 0.4;
    }
    .player_profile.selected img {
        opacity: 0.5;
    }
    #playerSelectedModal .modal-content {
        height: 480px;
    }
    /* Player card (Modal) */
    .close {
        float: right;
        color: #888;
        font-size: 30px;
        line-height: 1;
        cursor: pointer;
    }
    .giwc-player-card {
        position: fixed;
        display: none;
        left: 50%;
        margin-left: -275px;
        top: 50px;
        border-radius: 8px;
        width: 600px;
        z-index: 3000;
        -webkit-transform: scale(.001);
    }
    .giwc-player-card .front-name {
        color: #fff;
        padding: 30px;
        margin: 0;
    }
    .giwc-player-card .player-bio {
        max-height: 350px;
        overflow: scroll;
    }
    .giwc-player-card img.flag {
        width: 20px;
        float: left;
        margin: 0 5px;
    }
    .giwc-player-card .table {
        font-size: 12px;
        margin: 20px 0;
    }
    .giwc-player-card .selection-warning {
        color: red;
    }
    .giwc-player-card td,
    .giwc-player-card th {
        padding: 8px;
        padding: 0.8rem;
    }
    /* Modal Flip */
    /* simple */
    .flip-container {
        perspective: 2500;
        transform-style: preserve-3d;
    }
    /* START: Accommodating for IE */
    .flip-container.hover .back {
        transform: rotateY(0deg);
    }
    .flip-container.hover .front {
        transform: rotateY(180deg);
    }
    /* END: Accommodating for IE */
    .flip-container,
    .front,
    .back {
        height: 550px;
        border-radius: 8px;
    }
    .front,
    .back {
        width: 100%;
    }
    .back {
        padding: 20px;
    }
    .front,
    .back {
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
    }
    .front {
        transform: rotateY(0deg);
        background: #000;
        z-index: 3;
        background-size: cover;
        background-position: 50% 50%;
    }
    .back {
        z-index: 2;
        background: #fff;
        transform: rotateY(-180deg);
    }
    @media(max-width:46.25em) {
        .giwc-player-card {
            margin-left: -150px;
            width: 300px;
            top: 20px;
        }
        .flip-container,
        .front,
        .back {
            height: 450px;
        }
    }
    /**
  * Pitch view
  */
    .playerOptions {
        display: none;
        background: #fff;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        left: 50px;
        top: 120px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .playerOptions h4 {
        margin: 5px 0 15px;
        text-align: center;
    }
    .playerOptions button {
        float: left;
        width: 47%;
        min-width: 0;
        margin: 0;
    }
    .playerOptions button#replacePlayer {
        margin-right: 6%;
    }
    .pitch {
        overflow: hidden;
        margin: 0 auto 20px;
        padding: 0;
        background: url('../images/pitch.jpg');
        height: 445px;
        width: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        list-style: none;
        position: relative;
        clear: both;
    }
    #team-screen .pitch {
        display: block;
    }
    @media(max-width:740px) {
        .pitch {
            clear: none;
            display: none;
        }
        .table-players {
            display: block;
        }
    }
    .pitch-player {
        position: absolute;
        max-width: 80px;
        font-size: 11px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s ease-out;
    }
    .pitch-player span.player-icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.5);
        display: block;
        margin-bottom: 3px;
        border: 2px solid #fff;
        background-size: cover;
        background-color: #ccc;
    }
    .pitch.isDragging .pitch-player {
        opacity: 0.4;
    }
    .pitch.isDragging .pitch-player.dragTarget {
        opacity: 1;
    }
    .pitch-player.dragTarget.draghover span.player-icon {
        border: 2px dotted $buttonColor;
    }
    .pitch-player-hidden {
        display: none;
    }
    /* Strikers */
    .pitch-player.position-st,
    .pitch-player.position-st2 {
        left: 95px;
        top: 40px;
    }
    .pitch-player.position-st2 {
        left: 165px;
    }
    /* Midfielders */
    .pitch-player.position-ml,
    .pitch-player.position-mr,
    .pitch-player.position-mc,
    .pitch-player.position-mc2 {
        top: 150px;
        left: 20px;
    }
    .pitch-player.position-mr {
        left: 230px;
    }
    .pitch-player.position-mc {
        left: 90px;
    }
    .pitch-player.position-mc2 {
        left: 160px;
    }
    /* Defenders */
    .pitch-player.position-lb,
    .pitch-player.position-rb,
    .pitch-player.position-cb,
    .pitch-player.position-cb2 {
        left: 20px;
        top: 270px;
    }
    .pitch-player.position-rb {
        left: 230px;
    }
    .pitch-player.position-cb {
        left: 90px;
    }
    .pitch-player.position-cb2 {
        left: 160px;
    }
    /* Goalkeepers */
    .pitch-player.position-gk {
        top: 365px;
        left: 125px;
    }


    /* Country Colours */
    @mixin do-country-gradient($country, $color) {

        $gradient1: rgba($color, 0);
        $gradient2: rgba($color, 0.6);
        $gradient3: rgba($color, 0.8);

        .bg-#{$country} {
            background: $color;
        }
        .bg-#{$country} .player-country {
            background: -webkit-linear-gradient(left, $gradient1 0%, $gradient2 65%, $gradient3 100%);
        }
    }

    @include do-country-gradient('england', #CF142B);
    @include do-country-gradient('italy', #31C6DF);
    @include do-country-gradient('germany', #FFCC00);


    // Match screen

    #matchInfo {
        float: left;
        background: #66CD00;
        margin: 0 15px 30px;
    }

    @media (min-width: 56.25em) {
        #match-screen .match-pitch-container .pitch,
        #users-screen .match-pitch-container .pitch {
            display: block;
        }
        #match-screen .match-pitch-container .table,
        #users-screen .match-pitch-container .table {
            display: none;
        }
    }
    #match-screen .match-stats-container .table td {
        font-size: 13px;
        text-transform: capitalize;
    }
    #match-details .table {
        margin-bottom: 20px;
    }
    #users-team .table-players {
        margin-top: 0;
    }
    h1.score {
        font-size: 3em;
        text-align: center;
        margin: 0;
    }
    p.scorer {
        background: #efefef;
        padding: 3px 6px;
        margin: 0 0 7px 0;
        float: left;
        clear: both;
    }
    .home p.scorer {
        float: right;
    }
    p.scorer span.time {
        margin-left: 2px;
    }
    p.scorer span.time:before {
        content: "'";
    }

    p.scorer.carded {
        background: yellow;
        font-size: 12px;
        clear: none;
        margin: 0 3px 4px 0;
    }
    .home p.scorer.carded {
        margin: 0 0 4px 3px;
    }
    p.scorer.carded.red {
        background: red;
        color: #fff;
    }

}