/**
 * Project: World Cup 2014 dream team
 * File:    Main SCSS
 */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {

}
.noscroll {
	overflow: hidden;
}

#mask {
	display:none;
	background: rgba(50, 50, 50, 0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/**
 * Player selection
 */
 #player_filters {
 	margin-bottom: 20px;
 }
 #player_filters select {
 	margin-right: 7px;
 }
 .selection-info, .removeFromSquad, .player_profile .close {
 	display: none;
 }
 .selected .selection-info {
 	display: none !important;	
 }
 .selection-info ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 .player_profile img {
 	width: 100%;
 }
 .player_profile small {
 	display: none;
 }
 .player_profile:not(.highlighted) {
 	cursor: pointer;
 }
 .player_profile .removeFromSquad {
 	position: absolute;
	top: 0;
	left: 0;
	font-size: 60px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: red;
	bottom: 0;
 }

 /* Player modal */
 .player_profile.highlighted {
 	position: fixed;
	z-index: 1;
	background: #fff;
	padding: 15px;
	width: 500px;
	margin-left: -250px;
	left: 50%;
	top:30px;
	box-shadow: 1px 1px 1px;
	border: 1px solid #efefef;
 }
 .player_profile.highlighted .close, .player_profile.highlighted small {
 	display: inline-block;
 }
 .player_profile.highlighted small {
 	margin-left:7px;
 }
 .player_profile.highlighted p {
 	font-size: 26px;
 	text-align: left;
 }
 .player_profile.highlighted img {
 	width: 160px;
	margin: 0 15px 15px 0;
	float: left;
 }
 .player_profile.selected > div {
 	opacity: 0.5;
 }
 .player_profile.selected:hover .removeFromSquad {
 	display: block;
 }



 /**
  * Pitch view
  */
 .pitch {
 	margin: 0;
 	padding: 0;
 	background: url('/images/pitch.jpg');
 	min-height: 400px;
 	background-size: contain;
 	background-repeat: no-repeat;
 	list-style: none;
 	position: relative;
 }
 .pitch img {
 	width: 50px;
 	height: 50px;
 	border-radius: 50%;
 	box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.5);
 }
 .pitch_player {
 	position: absolute;
	max-width: 80px;
	font-size: 12px;
	color: #fff;
	text-align: center;
 }
 .pitch_player span {
 	display: block;
 }

 /* Strikers */
 .pitch_player.position-striker {
 	left: 60px;
 	top: 40px;
 }
 .pitch_player.position-striker:nth-child(2) {
 	left: 154px;
 }

 /* Goalkeepers */
 .pitch_player.position-goalkeeper {
 	bottom: 15px;
 	left: 105px;
 }
