/**
 * Project: World Cup 2014 dream team
 * File:    Main SCSS
 */

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {

}


/**
 * Player selection
 */
 .selection-info, .removeFromSquad {
 	display: none;
 }
 .selected .selection-info {
 	display: none !important;	
 }
 .player_profile img {
 	width: 100%;
 }
 .player_profile .removeFromSquad {
 	position: absolute;
	top: 0;
	left: 0;
	font-size: 60px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: red;
	bottom: 0;
 }

 .player_profile.selected > div {
 	opacity: 0.5;
 }
 .player_profile.selected:hover .removeFromSquad {
 	display: block;
 }
 