<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <title></title>
    </head>
    <body>

        <figure id="interactive_example"></figure>

        <!-- Templates -->
        <script id="playerTemplate" type="text/template">
            <img src="<%= playerImage %>"/>
            <ul>
                <li><%= name %></li>
                <li><%= position %></li>
            </ul>
        </script>


        <!-- Libs -->
        <script src="js/curl.js"></script>

        <!-- Simulate boot.js -->
        <script>
          var el = document.getElementById('interactive_example');
          require = curl;
          curl(['boot.js'], function(app) {
                app.boot(el);
          });
        </script>
    <body>
</html>
